/*  Mobile  */
@media only screen and (min-width: 0em) {

    body {
        margin: 0;
    
        margin: 0;
        background-color: #202020;
        background: url(bg-mobile.jpg);
        background-size: cover;
        backdrop-filter: blur(0.8px);
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
    }

    .skip {
        display: none;    
    }

    :root {
        --primary: rgb(224, 125, 8);
        --darkprimary: rgb(209, 118, 8);        
        --black: rgb(2, 11, 24);
        --white: #f0ffff;
    }

    .button-solid {
        color: #f0ffff;
        display: inline-block;
        margin: auto;
        text-align: center;
        text-decoration: none;
        background: #e07d08;
        min-width: 100px;
        padding: 12px 24px;
        border-radius: 5px;
        font-size: 20px;
        transition: .2s ease;

        box-shadow: 5px 2.5px 2px 2px rgba(20, 11, 0, 0.25);
    }

    .button-solid:hover {
        background:  var(--darkprimary);
        color: var(--white);
        transition: .2s ease;
        box-shadow: 8px 5px 3px 3px rgba(20, 11, 0, 0.25);
    }

    .button-solid:active {
        transform: scale(.96) translateY(3px) !important;
    }

}

/*  Larger Background  */
@media only screen and (min-width: 30em) {

    body {
        margin: 0;
    
        margin: 0;
        background-color: #202020;
        background: url(bg.jpg);
        background-size: cover;
        backdrop-filter: blur(0.8px);
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
    }
}

/*-- -------------------------- -->
<---          Hero              -->
--- -------------------------- -*/

/*  Mobile  */
@media only screen and (min-width: 0em) {

    #hero {
        width: 100vw;
        min-height: 20vh;
        height: fit-content;
        top: 0;
    }

    /*#hero:before {
        content: '';
        position: absolute;
        display: block;
        height: 40vh;
        width: 100%;
        background: #000;
        opacity: .55;
        top: 0;
        left: 0;
        z-index: -1;
    }*/

    .background-image {
        position: absolute;
        height: 40vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    #hero .hero-content {/*
        height: 100%;*/
        top: 0;
        width: 100%;/*
        line-height: 100%;*/
    }

    #hero .hero-text {/*
        height: 100%;*/
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #hero h1 {
        position: relative;
        text-align: center;
        margin-bottom: 50px;
        /*color: var(--white);*/
    }

    #hero h1:before, #hero h1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 70%;
        height: 2px;
        content: /*'\f100'*//*'\a0 foo'*/ 'No\0000a0Break';
        background-color: rgba(224, 125, 8, .9);
    }

    #hero h1:before {
        margin-left: -85%;
        text-align: right;
        background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(224,125,8,1)); 
    }

    #hero h1:after {
        margin-left: 15%;
        text-align: left;
        background-color: linear-gradient(to left, rgba(255,0,0,0), rgba(224,125,8,1));
    }

    #hero p {
        position: relative;
        margin: auto 8vw 50px;
        text-align: center;
    }

    #hero .button-solid {
        text-align: center;
        margin: 0px;
    }

}

/*  Landscape Phone  */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {

    #hero p {
        margin: auto 13vw 25px;
    }

}

/*  Tablets  */
@media only screen and (min-width: 48em) {

    #hero {
        width: 100vw;
        min-height: 20vh;
        height: fit-content;
        top: 0;
        margin-bottom: min(100px);
    }

    #hero h1 {
        margin: 50px auto;
    }

    #hero p {
        margin-bottom: 50px;
    }

}

/*  Small Desktop  */
@media screen and (min-width: 1024px) {

    #hero h1:before, #hero h1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 100%/*70%*/;
        height: 2px;
        content: /*'\f100'*//*'\a0 foo'*/ 'No\0000a0Break';
        background-color: rgba(224, 125, 8, .9);
    }

    #hero h1:before {
        margin-left: -115%;
        text-align: right;
        background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(224,125,8,1)); 
    }

    #hero h1:after {
        margin-left: 15%;
        text-align: left;
        background-color: linear-gradient(to left, rgba(255,0,0,0), rgba(224,125,8,1));
    }

    #hero p {
        max-width: 700px;
        margin: auto 200px 50px;
    }

}

/*  Regular Desktop  */
@media screen and (min-width: 1300px) {

}

/*-- -------------------------- -->
<---          Gallery           -->
--- --------------------------- -*/

/*  Mobile  */
@media only screen and (min-width: 0em) {

    #gallery {
        /*max-width: 80vw;*/
        height: 100vh;
        min-height: 400px;
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(27, 26, 26, 0.3);
        background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(27,26,26,0.3));
        box-sizing: border-box;
    }

    #gallery img {
        /*width: 50%;*/
        object-fit: cover !important;
    }

    .slider {
        position: relative;
        /*background: #131212;*/
        width: 85vw !important;/*800px;*/
        /*min-height: 390px;
        max-height: 100vh;*/
        min-height: 400px;
        max-height: 500px;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;
    }

    .slider .slide {
        position: absolute;
        width: 100%;
        height: 100%;

        clip-path: polygon(0% 0%, 0 0, 0% 50%, 0 100%, 0 100%);
        transition: 1s;
    }

    .slider .slide.active {
        clip-path: polygon(0% 0%, 108% 0, 110% 50%, 108% 100%, 0 100%);
        transition: 1s;
    }

    .slider .slide img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider .slide .info {
        position: relative;
        width: 80%;
        color: #222;
        background: rgba(255, 249, 240, 0.3);
        margin: 50px auto auto auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
    }

    .slider .slide .info h2 {
        font-size: 1.8em;
        line-height: 40px;
    }

    .slider .slide .info p {
        font-size: .9em;
        font-weight: 400;
    }

    .navigation {
        /*height: 500px;*/

        min-height: 390px;
        max-height: 500px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        opacity: .5;
        transition: opacity 0.5s ease;   
    }

    .prev-btn,
    .next-btn {
        z-index: 999;
        font-size: 0.8em;
        font-weight: 800;
        color: #222;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
        cursor: pointer;


        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .prev-btn:focus,
    .next-btn:focus {  
        outline: none !important;
    }

    .prev-btn {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .next-btn {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .slider:hover .navigation {
        opacity: 1;
    }

    .navigation-visibility {
        z-index: 999;
        display: flex;
        justify-content: center;
    }

    .navigation-visibility .slide-icon {
        z-index: 999;
        background: rgba(255, 255, 255, 0.5);
        width: 15px;
        height: 7px;
        transform: translateY(-50px);
        margin: 0 6px;
        border-radius: 2px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .navigation-visibility .slide-icon.active {
        background: rgba(252, 145, 45, .85)/*#b6bfbf*/;
    }

    /*.slider .slide.active  {
        opacity: 1;
        /*-webkit-transition: opacity 1000ms linear;
        transition: opacity 1000ms linear;* /
    }*/

    .lg-slide {
        display: none;
    }

}

/*  iPhone Plus */
@media only screen and (min-height: 730px) and (max-height: 740px) {

    .slider {
        position: relative;
        background: #131212;
        width: 85vw !important;/*800px;*/
        /*min-height: 390px;
        max-height: 100vh;*/
        min-height: 500px;
        max-height: 500px;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;
    }

    .navigation {
        /*height: 500px;*/

        min-height: 490px;
        max-height: 500px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        opacity: .5;
        transition: opacity 0.5s ease;   
    }


}


/*@media (max-width: 900px) {*/

    /*.slider {
        width: 100%;
    }

    .slider .slide .info {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }*/

/*}*/

/*  Landscape Phone  */
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {

    #gallery {
        /*max-width: 80vw;*/
        height: 100vh;  /*  good for landscape uphone plus  */
        /*display: flex;
        justify-content: center;
        align-items: center;
        background: #131212;
        box-sizing: border-box;*/
    }

    nav {
        height: 60px !important;
    }

    .slider {
        /*position: relative;
        background: #131212;*/
        width: 75vw !important;/*800px;*/
        margin: 60px 20px 30px;
        min-height: 250px/*200px*/;
        max-height: 250px;/*
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;*/
    }

    .navigation {
        /*height: 500px;*/

        min-height: 250px/*390px*/;
        max-height: 250px/*500px*/;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        opacity: .5;
        transition: opacity 0.5s ease;   
    }

    .navigation-visibility .slide-icon {
        transform: translateY(-20px);
    }

}

/*  iPhone Plus Landscape Phone  */
@media only screen and (min-width: 730px) and (max-width: 750px) {

    .slider {
        width: 85vw !important;/*800px;*/
        margin: 60px 20px 30px;
        min-height: 300px/*200px*/;
        max-height: 300px;
    }

    .navigation {
        /*height: 500px;*/

        min-height: 295px/*390px*/;
        max-height: 295px/*500px*/;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        opacity: .5;
        transition: opacity 0.5s ease;   
    }

    .navigation-visibility .slide-icon {
        transform: translateY(-20px);
    }

}

/*  Tablets  */
@media only screen and (min-width: 48em) {

    #gallery {
        min-height: 600px;
        padding-bottom: 300px; /*   NEW     */
    }

    .navigation {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: .5;
        transition: opacity 0.5s ease;   
    }

    .slider .slide .info h2 {
        font-size: 2em;
        font-weight: 800;
    }

    .slider .slide .info p {
        font-size: 1em;
        font-weight: 400;
    }

    .prev-btn,
    .next-btn {
        z-index: 999;
        font-size: 0.8em;
        font-weight: 800;
        color: #222;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
        cursor: pointer;
    }

    .prev-btn {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .next-btn {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .slider:hover .navigation {
        opacity: .5;
    }

    .prev-btn,
    .next-btn {
        z-index: 999;
        font-size: 2em;
        font-weight: 8000;
        color: #222;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
        cursor: pointer;
    }

    .prev-btn {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .next-btn {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }



    .navigation-visibility .slide-icon {/*
        z-index: 999;
        background: rgba(255, 255, 255, 0.5);*/
        width: 20px;
        height: 10px;/*
        transform: translateY(-50px);
        margin: 0 6px;
        border-radius: 2px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);*/
    }

}

/*  Small Desktop  */
@media screen and (min-width: 1024px) {

    #gallery {
        /* max-width: 80vw; */
        height: 100vh;
        max-height: 680px;
        padding: 0px/*100px*/ 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*background: #131212;*/
        box-sizing: border-box;
    }

    .slider {
        position: relative;
        background: #131212;
        width: 65vw !important;/*800px;*/
        min-height: 500px;
        margin: 0px;
        overflow: hidden;
        border-radius: 10px;
    }

    .navigation {
        opacity: 0.5;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: opacity 0.5s ease;   
    }

    .slider:hover .navigation {
        opacity: .75;
    }

}

/*  Regular Desktop  */
@media screen and (min-width: 1300px) {

    #gallery {
        /* max-width: 80vw; */
        height: 100vh;
        padding: 0px/*100px 0px 50px*/;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .slider {
        position: relative;
        background: #131212;
        width: 70vw !important;
        min-height: 77vh/*550px*/;
        margin: 0px;
        overflow: hidden;
        border-radius: 10px;
    }

    .navigation {
        opacity: 0;
        width: 100%;
        min-height: 77vh/*550px*/;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: opacity 0.5s ease;   
    }

    .slider:hover .navigation {
        opacity: .75;
    }

    .navigation-visibility .slide-icon {
        transform: translateY(-5vh)/*translateY(-50px)*/;
    }

    .lg-slide {
        display: block !important;
    }

    .mobile-slide {
        display: none;
    }

}

/*  Bigger Desktop  */
@media screen and (min-width: 1500px) {



}